.Row{
    width: 96%;
    height: 100%;
    margin:0 auto;
    padding: 20px 10px;
    border-bottom: lightgray solid 1px;
}
.send{
    color: rgb(17, 196, 17);
    border: 1px solid rgb(17, 196, 17);
    border-radius: 6px;
    box-sizing: border-box;
}

.Display_inline{
    display: inline;
}

.F_right{
    float: right;
}

.F_left{
    float: left;
}

.Row a{
    margin-left: 10px;
    font-weight: lighter;
    color: gray;
    font-size: 15px;
}

h4{
    width: 100px;
}

.ML5{
    margin-left: 5px;
}

.P10{
    padding: 10px;
}

p{
    font-size: 13px;
    margin-left: 5px;
}

.q_button{
    padding: 0px 3px;
    border-radius: 3px;
    border:solid gray 1px;
    margin-left: 5px;
}

.titleArea{
    width: 200px;
    float:left; 
}

.titleSub{
    width: 100px;
    float: left;
}

.Margin_left_60px{
    margin-left: 60px;
}

.Margin_left_65px{
    margin-left: 65px;
}

.Margin_left_30px{
    margin-left: 30px;
}
.FW_lighter{
    font-weight: lighter;
}

.Border_none{
    border: none;
}

.search{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(238, 237, 237);
    border: none;
}

.search_select{
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    background-color: rgb(238, 237, 237);
    color: gray;
}

.menu li{
    float: left;
    padding: 3px 10px;
    /* color: gray; */
    font-weight: lighter;
}

.icon li{
    float: left;
    margin-left: 10px;
}

.under_line{
    border-bottom: 0.5px lightgray solid;
    width: calc(100% - 200px); 
    float: left;
    height: 100%;
    padding-right: 0px;
}

.under_line2{
    width: calc(100% - 200px); 
    float: left;
    height: 100%;
}


.Border_bottom_none{
    border:none;
}

.Select{
    width: 95%;
    border: none;
    margin-right: 0px;
    height: 100%;
}

button{
    background-color: transparent;
    border: 0.5px solid lightgray;
    border-radius: 6px;
    padding: 5px;
}

.file_button{
    height: 30px;
    float: left;
    padding: 0 10px;
    margin-right: 10px;
    border: lightgray 1px solid;
}