/* 메뉴 style */

.nav {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 3em;
    width: 100%;
    cursor: pointer;
}

.nav_sub {
    height: 0;
    overflow: hidden;
}

.active_menu.active .nav>svg {
    transform: rotate(180deg);
}

.nav_sub.active {
    height: auto;
    padding: .5em 2em;
}

.nav_sub a {
    padding-left: 1em;
    color: #fff;
    line-height: 2.5em;
    position: relative;
}

.nav_sub a::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #3B73D1;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.nav.active {
    background-color: #3B73D1;
}


/* 아이콘 style */

.icon-border {
    border-radius: 100%;
    background-color: var(--bg--main--color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 페이지 뷰 style */


.title {
    display: flex;
    align-items: center;
}

.project-view__reply {}


.project-view__reply>li {
    padding: 0 1em;
    border-left: 3px solid var(--bg--main--color);
    margin-top: 2em;
}

.project-view__reply__title {
    display: flex;
    align-items: center;
}

.project-view__reply__contents {
    font-size: 1em;
    color: #A6A6A6;
}

.employee-view {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    height: 100vh;
}


.box-bor {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 1em;
    padding: 2em;
}

/* 버튼 style */

.btn {
    background-color: var(--bg--sub--color);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.btn_modal {
    position: relative;
}

.btn-trigger {
    color: #526484;
    fill: #526484;
    position: relative;
    z-index: 1;
}

.btn-trigger svg {
    color: #526484;
    fill: #526484;
    position: relative;
    z-index: 1;
}

.btn-icon {
    background-color: transparent;
    height: auto;
    border-radius: 100%;
    transition: 0.5s all;
    height: 3em;
    width: 3em;
}

.btn-icon.btn-trigger:hover {
    background-color: #e5e9f2;
}


/* 아이콘 sytle */

.icon {
    margin-top: -0.1em;
}


/* 탭 sytle  */

.main_tab_head .btn_tab {
    display: block;
    background-color: #DFDFDF;
    line-height: 3em;
    padding: 0 2em;
    margin-left: 1.2em;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #A6A6A6;
    border: 0;
}

.main_tab_head .btn_tab.active {
    background-color: #1B3262;
    color: #fff;
}


/* modal style */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 25em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 1em;

}

.modal-wrap {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
}


.modal-header {
    background-color: var(--bg--main--color);
    display: flex;
    line-height: 5em;
    color: #fff;
    cursor: move;
}

.modal-header h3 {
    padding: 0 1em;
}


.modal-close {
    margin-left: auto;
    margin-right: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input.modal_controller {
    width: 4em;
}

.modal-list {
    height: 30em;
    overflow-y: scroll;
}

.modal-list>li {
    display: flex;
    line-height: 3em;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}


.modal-list .modal-checkbox {
    border-right: 1px solid #DDDDDD;
}

.modal-list .text {
    display: flex;
    align-items: center;
    padding: 0 1.3em
}


.modal-list .text span {
    margin-left: 10px;
}


.nk-ibx-aside {
    align-items: stretch;
    border-right: 1px solid #e5e9f2;
    flex-direction: column;
    transition: transform .4s linear;
    width: 260px;
    z-index: 99;
}

.nk-ibx-head {
    align-items: center;
    border-bottom: 1px solid #e5e9f2;
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    padding: .75rem 1.25rem;
    position: relative;
}

.nk-ibx-nav {
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

.simplebar-wrapper {
    height: inherit;
    max-height: inherit;
    max-width: inherit;
    overflow: hidden;
    width: inherit;
}

.nk-ibx-menu li {
    align-items: center;
    border-radius: 4px;
    display: flex;
    padding: .5rem .75rem;
    cursor: pointer;
    justify-content: space-between;
    margin: .5rem 0;
}

.nk-ibx-menu li.active {
    background: #eff1ff;
    border-radius: 3px;
}

.nk-ibx-menu li.active .badge {
    background: #6576ff;
    color: #fff;
}

.nk-ibx-menu-text {
    color: #526484;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.nk-ibx-menu-item .badge {
    justify-content: center;
    margin-left: auto;
    min-width: 2.25rem;
}

.badge.bg-light {
    color: #364a63;
}

.badge.rounded-pill {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-light {
    border-color: #e5e9f2;
}

.nk-ibx-body {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
}

.nk-ibx-head {
    align-items: center;
    border-bottom: 1px solid #e5e9f2;
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    padding: .75rem 1.25rem;
}

.nk-ibx-head-actions,
.nk-ibx-head-tools {
    align-items: center;
    display: flex;
}

.nk-ibx-item {
    align-items: center;
    background: #fff;
    cursor: pointer;
    display: flex;
    padding: 1rem 1.25rem;
    position: relative;
    transition: background-color .3s;
}

.nk-ibx-item:last-child {
    border-bottom: 1px solid #e5e9f2;
}

.user-card {
    align-items: center;
    display: flex;
}

.nk-ibx-item-elem {
    flex-shrink: 0;
    padding: 0 8px;
}

.nk-ibx-item-user {
    width: 200px;
}

.nk-ibx-item-fluid {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

.nk-ibx-item-time {
    text-align: right;
    width: 80px;
}

.sub-text {
    color: #8094ae;
    display: block;
    font-size: 13px;
}

.nk-ibx-item-tools {
    margin-left: auto;
    padding-right: 0;
    text-align: right;
    position: relative;
}

.ibx-actions {
    display: inline-block;
    position: relative;
    transition: background-color .3s;
}

.user-avatar,
[class^=user-avatar]:not([class*=-group]) {
    align-items: center;
    background: #798bff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .06em;
    position: relative;
    width: 40px;
}

.user-avatar+.user-name,
[class^=user-avatar]:not([class*=-group])+.user-name {
    margin-left: .75rem;
}

.nk-ibx-item-user .user-name {
    max-width: calc(100% - 50px);
}

.user-name {
    color: #526484;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.nk-ibx-context-group {
    align-items: center;
    display: flex;
}

.nk-ibx-context-badges {
    margin-right: .75rem;
}

.bg-primary {
    background-color: #6576ff;
}


.badge {
    border: 0;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: .675rem;
    letter-spacing: .01em;
    line-height: 1.8em;
    position: relative;
    vertical-align: middle;
    padding: 0 1em;
    color: #fff;
    border-radius: 50px;
}

.nk-ibx-head-check {
    padding: 0 8px;
}

.nk-ibx-item:hover {
    background: #f5f6fa99;
}

.nk-ibx-context {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nk-ibx-context-text {
    color: #8094ae;
    display: inline;
}

/* table style */

.task-table-container {
    width: 100%;
}


.task-table-nav {
    display: flex;
    align-items: center;
}

.fask-table-nav-item {
    display: flex;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    height: 2.7em;
    font-size: 14px;
    line-height: 1.2;
    min-width: 0px;
    padding-left: 8px;
    padding-right: 12px;
    font-weight: 500;
    min-width: 100px;
}

.fask-table-nav-item.active {
    border-bottom: 2px solid #1B3262;
}

.task-table-event {
    display: flex;
    align-items: center;
}

.task-table {
    width: 100%;
}

.task-table {
    border-top: 1px solid #A6A6A6;
    border-collapse: collapse;
    margin-top: -1px;
}

.task-table thead {
    line-height: 1.5em;
    text-align: left;
}

.task-table thead th {
    padding: 0.5em 1em;
    border-right: 1px solid #ddd;
}


.task-table thead th:last-child {
    border-right: 0;
}

.task-table tbody {
    line-height: 2em;
}

.task-table tbody td {
    padding: 0.5em 1em;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: .8rem;
}


.task-table tbody td:last-child {
    border-right: 0;
}

.task-table tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}
