
.table-data {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
}

.table-data thead th {
    background-color: var(--bg--main--color);
    color: #fff;
    line-height: 3em;
}

.table-data tbody td {
    background-color: #fff;
    color: #000;
    line-height: 3em;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 2em;
}

.table-data tbody tr:nth-child(2n + 2) td {
    background-color: #F4F6FA;
    color: #000;
}

.table-data-pageing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-data-pageing li {
    padding: 0 10px;
    cursor: pointer;
}

.table-data-pageing .arrow-left  {
    width: 18px;
}

.table-data-pageing .arrow-right  {
    width: 18px;
}


.project-view {
    background-color: #fff;   
    padding: 2em;
    border-radius: 10px;
}

/* from controller style */


textarea.from_controller {
    width: 100%;
    background-color: #F6F6F6;
    border: 1px solid #DEDEDE;
    padding: 2em;
    height: 10em;
}


.form {
    border: 3px solid #1B3262;
    border-radius: 10px;
}

.form_group {
    margin-bottom: 1em;
}

label.form_controller {
    display: flex;
    background-color: #fff;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    position: relative;
}

label.form_controller.error {
    border: 1px solid var(--error--main--color);
}


label.form_controller.error .icon svg {
    fill: var(--error--main--color);
}


label.form_controller.error input {
    color: var(--error--main--color);
}

label.form_controller.error input::placeholder {
    color: var(--error--main--color);
}

p.form_error {
    color: var(--error--main--color);
    font-size: 0.8rem;
    white-space: pre-line;
}

label.form_controller .icon svg {
    margin-right: 1em;
    fill: #B7B7B7;
}


input.form_controller {
    border: 0;
    width: 100%;
    font-size: 1em;
}


input.form_controller:focus {
    border: 0;
    outline: none;
}

span.form_controller_error {
    color: red;
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 0.9rem;
}