* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header--border--size: 1px;
    --header--border--color: #DDDDDD;

    --bg--main--color: #143069;
    --bg--sub--color: #091C46;
    --bg--view--color: #F0F0F0;

    --font--main--color : #000;

    --error--main--color : rgb(218, 45, 80);


    --margin--left : 10px;
    --margin--top : 10px;
    
}


html,
body {
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
}


ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font--main--color);
}

button,
label {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}


@media (max-width: 800px) {

    html,
    body {
        font-size: 10px;
    }
}