.wrap_inner {
    min-height: 100vh;
}

/* display style */

.display-inline {
    display: inline-block;
}


/* flex style */

.row {
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}


.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* width style */

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w15em {
    width: 15em;
}

.w300px {
    width: 300px
}


.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

/* height style */

.h10 {
    height: 10%;
}

.h15 {
    height: 15%;
}


.h20 {
    height: 20%;
}

.h30 {
    height: 30%;
}

.h40 {
    height: 40%;
}

.h50 {
    height: 50%;
}

.h60 {
    height: 60%;
}

.h70 {
    height: 70%;
}

.h80 {
    height: 80%;
}

.h90 {
    height: 90%;
}

.h100 {
    height: 100%;
}

.h10em {
    height: 10em;
}

.h15em {
    height: 15em;
}


.h20em {
    height: 20em;
}

.h30em {
    height: 30em;
}

.h40em {
    height: 40em;
}

.h50em {
    height: 50em;
}

.h60em {
    height: 60em;
}

.h70em {
    height: 70em;
}

.h80em {
    height: 80em;
}

.h90em {
    height: 90em;
}

.h100em {
    height: 100em;
}

/* line height style */

.line-h-2em {
    line-height: 2em;
}

.line-h-3em {
    line-height: 3em;
}

.line-h-4em {
    line-height: 4em;
}

.line-h-5em {
    line-height: 5em;
}


/* border style */

.border-right {
    border-right: var(--header--border--size) solid var(--header--border--color);
}

.border-bottom {
    border-bottom: var(--header--border--size) solid var(--header--border--color);
}

.border-top--main {
    border-top: .5em solid #3B73D1;
}

.border-radius {
    border-radius: 100%;
}

.border-no {
    border: 0;
}

/* padding style */

.padding-3em {
    padding: 3em;
}

.padding-to-5em {
    padding-top: 5em;
}


.padding-y-1em {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padding-y-2em {
    padding-top: 2em;
    padding-bottom: 2em;
}


.padding-y-4em {
    padding-top: 4em;
    padding-bottom: 4em;
}


.padding-x-1em {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-x-2em {
    padding-left: 2em;
    padding-right: 2em;
}

.padding-x-3em {
    padding-left: 3em;
    padding-right: 3em;
}

.padding-none {
    padding: 0 !important;
}

/* margin style */

.margin-left {
    margin-left: var(--margin--left)
}

.margin-left-1em {
    margin-left:.7em;
}

.margin-right-1em {
    margin-right:.7em;
}


.margin-auto {
    margin: 0 auto;
}

.margin-top {
    margin-top: var(--margin--top);
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-top-2em {
    margin-top: 2em;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-bottom-2em {
    margin-bottom: 2em;
}

.margin-bottom-4em {
    margin-bottom: 4em;
}


/* background style  */

.bg-main {
    background-color: var(--bg--main--color);
}

.bg-main .text_href {
    color: #fff;
}

.bg-sub {
    background-color: var(--bg--sub--color);
}

.bg-viwe {
    background-color: var(--bg--view--color);
}

.bg-fff {
    background-color: #fff;
}

.bg-sub .text_href {
    color: #fff;
}

/* text style */

.text-align-center {
    text-align: center;
}


.hide {
    display: none;
}

.show {
    display: block;
}
